
project/data/cifar-10-python.tar.gz
project2/黄埔海关舰船/7.tif
project_example/__pycache__/resnet.cpython-36.pyc
project2/黄埔海关舰船/9.tif
project2/黄埔海关舰船/8.tif
project2/黄埔海关舰船/6.tif
project2/黄埔海关舰船/5.tif
project2/黄埔海关舰船/4.tif
project2/黄埔海关舰船/3.tif
project2/黄埔海关舰船/2.tif
project2/黄埔海关舰船/13.tif
project2/黄埔海关舰船/12.tif
project2/黄埔海关舰船/11.tif
project2/黄埔海关舰船/10.tif
project2/黄埔海关舰船/1.tif
project2/黄埔海关舰船/0.tif
project_example/data/cifar-10-batches-py/data_batch_1
project_example/data/cifar-10-batches-py/data_batch_2
project_example/data/cifar-10-batches-py/data_batch_3
project_example/data/cifar-10-batches-py/data_batch_4
project_example/data/cifar-10-batches-py/data_batch_5
project_example/data/cifar-10-batches-py/readme.html
project2/Daata/新建文本文档.txt
project2/data/test/新建文本文档 - 副本 (2).txt
project2/data/test/新建文本文档 - 副本 (3).txt
project2/data/test/新建文本文档 - 副本 (4).txt
project2/data/test/新建文本文档 - 副本 (5).txt
project2/data/test/新建文本文档 - 副本 (6).txt
project2/data/test/新建文本文档 - 副本 (7).txt
project2/data/test/新建文本文档 - 副本.txt
project2/data/test/新建文本文档.txt
project2/data/train/新建文本文档 - 副本 (2).txt
project2/data/train/新建文本文档 - 副本 (3).txt
project2/data/train/新建文本文档 - 副本 (4).txt
project2/data/train/新建文本文档 - 副本.txt
project2/data/train/新建文本文档.txt
project_example/data/cifar-10-batches-py/batches.meta
project_example/data/cifar-10-batches-py/test_batch
project_example/data/cifar-10-python.tar.gz

